table.minutes {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

table.hours {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

table.days {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.time {
    font-size: 2rem;
}
